[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lme4"]
	path = lme4
	url = https://github.com/lme4/lme4
[submodule "reformulas"]
	path = reformulas
	url = https://github.com/bbolker/reformulas
	registered = false
